.fundo{
    background: #39F;
}

.titulo{
    
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.subTitulo{
    
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: DimGray;
    
}
.table{
    margin-top: 20px;
}
.form-control{
    margin-bottom: 5px;
}
.selecionado{
    background-color: yellow;
}
.negrito {
    font-weight: bold;
}
/*.swiper-slide {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.swiper-container {
  height: 120px;
  margin: 35px 0;
}
*/
.swiper-container {
        width: 100%;
        height: 30%;
        
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }